@media (max-width: 1350px) {
    .header {
        width: 80%; 
    }
  
    ul li {
        margin-left: 40px; 
    }
  
    .masthead {
        padding: 100px; 
    }
  
    .masthead-text-large {
        font-size: 45px;
        margin-top: 70px; 
        line-height: 0.8;
    }
  
    .masthead-text-small {
        font-size: 18px; 
        margin-bottom: 70px; 
        line-height: normal;
    }
  
    .masthead-button {
        width: 180px; 
        height: 40px; 
        font-size: 12px; 
        padding: 8px 16px; 
    }
  
    .features {
        width: 70%; 
    }
  
    .feature {
        flex: 0 0 calc(50% - 40px); 
        margin: 10px;
    }
  }